# Keybinds used by readline. The \e is an escape key that maps the ESC or ALT key. So \es is ESC + s or ALT-s.
#
# To see the keybind code of a key, open GDB and press C-v + <keybind>. Example: to see the <A-CR> keybind, you can use <C-v> + <A-CR>.
#
# The $if and $endif are used to enable and disable certain keybinds unique to an application.


$if gdb
	# ALT-d
	"\ed": "tui disable\n"

	# ALT-p
	"\ep": "layout prev\n"

	# ALT-n
	"\en": "layout next\n"

	# Alt-s, Alt-a, Alt-r, Alt-w
	"\es": "layout src\n"
	"\ea": "layout asm\n"
	"\er": "layout regs\n"
	"\ew": "layout split\n"
$endif
