[Desktop Entry]
Version=1.0
Name=Rclone Web GUI
Comment=Web Interface for Rclone
Type=Application
Exec=rclone_web_gui
Icon=rclonetray-connected-tray
Terminal=false
StartupNotify=false
Categories=Network;FileTransfer;Utility;FileTools;
