configuration {
	window-format: "{w} - {c}: {t}";
	display-window: "Window:";

	show-icons: true;
}

@theme "my-theme-dense"

#listview {
	lines: 4;
	columns: 3;
	scrollbar: false;
}

#element {
	orientation: horizontal;
}

/* vim: set ft=css: */
