# Default configuration available at https://github.com/sxyazi/yazi/blob/main/yazi-config/preset/keymap-default.toml

"$schema" = "https://yazi-rs.github.io/schemas/keymap.json"

[mgr]
prepend_keymap = [
	# Overrides the default 'D' key-map to not remove permanently
	{ on = "D", run = "remove", desc = "Trash selected files" },
]

append_keymap = [
	{ on = [
		"<A-d>",
	], run = "arrow 50%", desc = "Move cursor down half page" },
	{ on = [
		"<A-q>",
	], run = "close", desc = "Close the current tab" },
	{ on = [
		"<A-u>",
	], run = "arrow -50%", desc = "Move cursor up half page" },
	{ on = [
		"<A-w>",
	], run = "close", desc = "Close the current tab" },
	{ on = [
		"c",
		"h",
	], run = "escape --find", desc = "Cancel the current finder (highlight)" },
	{ on = [
		"g",
		".",
	], run = "hidden toggle", desc = "Show/hide hidden files" },
	{ on = [
		"g",
		"M",
	], run = "cd '/media'", desc = "Jump to media folder" },
	{ on = [
		"g",
		"m",
	], run = "cd '/run/media/$USER'", desc = "Jump to user media folder" },
	{ on = [
		"g",
		"n",
		"c",
	], run = "shell --confirm 'NOTIFY_SEND=y nvim-proj open-config'", desc = "Open new instance at '.nvim-proj/' directory" },
	{ on = [
		"g",
		"n",
		"p",
	], run = "shell --confirm 'NOTIFY_SEND=y nvim-proj open'", desc = "Open new instance at Neovim project directory" },
	{ on = [
		"c",
		"p",
	], run = "shell --block 'clip-paste --ask-type --ask-out-file'", desc = "Past the clipboard in a file" },
	{ on = [
		"g",
		"p",
	], run = "cd '$HOME/Pictures/'", desc = "Jump to '~/Pictures/' folder" },
	{ on = [
		"g",
		"r",
	], run = "cd '$HOME/Repositories/'", desc = "Jump to '~/Repositories' folder" },
	{ on = [
		"g",
		"t",
	], run = "cd '$HOME/Repositories/templates/templates/'", desc = "Jump to templates folder" },
	{ on = [
		"g",
		"z",
	], run = "shell 'zoxide add $0'", desc = "Add folder to Zoxide list" },

	{ on = "<A-t>", run = "shell default_term", desc = "Open a new terminal in the current folder" },
	{ on = "<A-f>", run = "shell default_file_manager", desc = "Open a new file manager in the current folder" },

	# Also change the tab with <A-1> to <A-9>
	{ on = "<A-1>", run = "tab_switch 0" },
	{ on = "<A-2>", run = "tab_switch 1" },
	{ on = "<A-3>", run = "tab_switch 2" },
	{ on = "<A-4>", run = "tab_switch 3" },
	{ on = "<A-5>", run = "tab_switch 4" },
	{ on = "<A-6>", run = "tab_switch 5" },
	{ on = "<A-7>", run = "tab_switch 6" },
	{ on = "<A-8>", run = "tab_switch 7" },
	{ on = "<A-9>", run = "tab_switch 8" },

	# Open file
	{ on = [
		"<A-o>",
	], run = "shell 'default_open \"$@\"'", desc = "Open file" },

	{ on = [
		"<A-Enter>",
	], run = "shell 'default_open \"$@\"'", desc = "Open file" },
]

[confirm]
append_keymap = [
	{ on = [
		"<A-q>",
	], run = "close", desc = "Cancel the current confirm" },
]

[input]
append_keymap = [
	{ on = [
		"<A-q>",
	], run = "close", desc = "Cancel the current input" },

	{ on = [
		"<C-h>",
	], run = "kill backward", desc = "Delete the word before the cursor" },
	{ on = [
		"<C-w>",
	], run = "kill backward", desc = "Delete the word before the cursor" },
	{ on = [
		"<C-Backspace>",
	], run = "kill backward", desc = "Delete the word before the cursor" },
	{ on = [
		"<C-Delete>",
	], run = "kill forward", desc = "Delete the word after the cursor" },

	{ on = "<C-left>", run = "backward", desc = "Go to the start of a word" },
	{ on = "<C-right>", run = "forward", desc = "Go to the start of a word" },
]
